---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Experience from "@/components/Experience.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Projects from "@/components/Projects.astro";
import Hero from "@/components/Hero.astro";
import ProfileCheckIcon from "@/components/icons/ProfileCheck.astro";
import AboutMe from "@/components/AboutMe.astro";
import { translations, type Language } from "@/utils/translations.ts";

const lang = Astro.currentLocale as Language;
const t = translations[lang];
---

<Layout title={t.meta.title} description={t.meta.description} lang={lang}>
  <main class="px-4">
    <SectionContainer id="inicio" class="py-16 md:py-36">
      <Hero
        role={t.hero.role}
        location={t.hero.location}
        contact={t.hero.contact}
        resume={t.hero.resume}
      />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <Briefcase class="size-8" />
          {t.sections.workExperience}
        </h2>
        <Experience
          experience={t.experience}
        />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-7" />
          {t.sections.projects}
        </h2>
        <Projects 
          projects={t.projects}
        />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
          <ProfileCheckIcon class="size-8" />
          {t.sections.aboutMe}
        </h2>
        <AboutMe 
          aboutMe={t.aboutMe}
        />
      </SectionContainer>
    </div>
  </main>
</Layout>
