---
import GitHub from "@/components/icons/GitHub.astro";
import NextJS from "@/components/icons/NextJS.astro";
import Tailwind from "@/components/icons/Tailwind.astro";
import Astr from "@/components/icons/Astro.astro";
import Css from "@/components/icons/Css.astro";
import Html from "@/components/icons/Html.astro";
import React from "@/components/icons/React.astro";
import Javascript from "@/components/icons/Javascript.astro";
import Jekyll from "@/components/icons/Jekyll.astro";
import Link from "@/components/icons/Link.astro";
import LinkButton from "@/components/LinkButton.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-purple-500 text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-purple-500 text-white",
    icon: Tailwind,
  },
  ASTR: {
    name: "Astro Framework",
    class: "bg-purple-500 text-white",
    icon: Astr,
  },
  HTML: {
    name: "HTML",
    class: "bg-purple-500 text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-purple-500 text-white",
    icon: Css,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-purple-500 text-white",
    icon: Javascript,
  },
  JEKYLL: {
    name: "Jekyll",
    class: "bg-purple-500 text-white",
    icon: Jekyll,
  },
  REACT: {
    name: "React",
    class: "bg-purple-500 text-white",
    icon: React,
  },
};
const PROJECTS = [
  {
    titleEs: "Rob Web",
    titleEn: "Rob Web",
    descriptionEs:
      "Mi pagina personal con algunas de las cosas que me interesan.",
    descriptionEn:
      "My personal page with some of the things that interest me.",
    link: "https://rob-maclean.netlify.app",
    github: "https://github.com/robertoMaclean/rob-mac-web-front",
    image: "/projects/rob-page.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    titleEs: "Currículum de Rob",
    titleEn: "Rob's Resume",
    descriptionEs: "Mi currículum con el historial de mis trabajos.",
    descriptionEn: "My resume with the history of my jobs.",
    link: "https://rob-resume.netlify.app",
    github: "https://github.com/robertoMaclean/resume",
    image: "/projects/rob-resume.webp",
    tags: [TAGS.ASTR],
  },
  {
    titleEs: "Blog de Rob",
    titleEn: "Rob's Blog",
    descriptionEs:
      "Este es mi blog personal que algún día rellenaré con información de mi interés.",
    descriptionEn:
      "This is my personal blog that someday I will fill with information of my interest.",
    link: "https://rob-blog.netlify.app",
    github: "https://github.com/robertoMaclean/robertoMaclean.github.io",
    image: "/projects/rob-blog.webp",
    tags: [TAGS.JEKYLL],
  },
  {
    titleEs: "Gif Expert App",
    titleEn: "Gif Expert App",
    descriptionEs:
      "Una pagína para buscar Gifs realizada durante el curso de React de Fernando Herrera.",
    descriptionEn:
      "A page to search for Gifs made during Fernando Herrera's React course.",
    link: "https://gif-fernando-herrera-course.netlify.app",
    github: "https://github.com/robertoMaclean/resume",
    image: "/projects/gif-expert.webp",
    tags: [TAGS.REACT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, titleEs, titleEn, descriptionEs, descriptionEn, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt=""
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="translatable-text text-2xl font-bold text-gray-800 dark:text-gray-100" data-text-es={titleEs} data-text-en={titleEn}>
            {titleEs}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="translatable-text mt-2 text-gray-700 dark:text-gray-400" data-text-es={descriptionEs} data-text-en={descriptionEn}>
              {descriptionEs}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github} target="_blank">
                  <GitHub class="size-6" />
                  <span class="translatable-text" data-text-es="Código" data-text-en="Code">Código</span>
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  <span class="translatable-text" data-text-es="Vista previa" data-text-en="Preview">Vista previa</span>
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
